.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.zen-old-mincho-bold {
    font-family: "Zen Old Mincho", serif;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(backgrounds/10o30_firefly.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

header {
    background-image: url(backgrounds/07o26_aqua.png);
    background-size: cover;
    background-position: left;
    padding: 0;
    margin: 0;

}

main {
    background-color: #1e001e;
    margin: 10px 2%;
    padding: 0.5%;
}

footer {
    background-image: url(backgrounds/10o01_cool.png);
    background-position: center;
    padding: 10px;
    margin: 0;
}

@media screen and (min-width: 641px) {
    .smartphone {
        display: none;
    }
}

h1 {
    font-family: 'Zen Old Mincho', serif;
    font-weight: 700;
    text-align: center;
    color: #ff7575;
    font-size: 4em;
    margin: 0 0 20px;
}

h2 {
    font-family: 'Zen Old Mincho', serif;
    font-weight: 700;
    color: #ff7575;
}

h3 {
    text-align: left;
    color: #ffffff;
    margin-top: 15px;
}

p {
    text-align: left;
    color: #75fdff;
}

a {
    color: rgb(253, 255, 117);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid rgb(253, 255, 117);
}

a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.warning {
    color: #ffffff;
    text-align: left;
    margin-top: 20px;
}

.comment {
    font-size: 1.0em;
    color: #bcffa4;
    text-align: start;
    margin-top: 10px;
    width: 75%;

}

.videoComment {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-text {
    color: #bdd1ff;
    font-size: 0.5em;
}

footer a {
    color: #bdd1ff;
    border: none;
}

footer a:hover {
    text-decoration: none;
}

.lie {
    color: #75fdff;
    font-weight: normal;
    text-decoration: none;
    border: none;
    margin: 0;
}

@media screen and (min-width: 641px) {
    h1 {
        font-size: 5em;
    }

    h2 {
        text-align: left;
        font-size: 2em;
        margin-top: 20px;
        margin-left: 20%;
    }

    h3 {
        font-size: 1.2em;
    }

    p.right {
        text-align: left;
        font-size: 1.0em;
        margin: 10px 0;
        margin-left: 70%;
    }

    p.center2 {
        text-align: left;
        font-size: 1.0em;
        margin: 10px 0;
        margin-left: 20%;
    }

    a.center2 {
        text-align: left;
        font-size: 1.0em;
        margin: 10px 0;
        margin-left: 30%;
    }

    p {
        font-size: 1.0em;
        margin: 10px 25px;
    }

    a {
        font-size: 1.0em;
        margin: 10px 25px;
    }

    .warning {
        font-size: 1.0em;
    }

    .comment {
        font-size: 1.0em;
    }

    .videoComment {
        font-size: 0.8em;
        opacity: 1.0;
    }

    .footer-text {
        font-size: 0.8em;
    }

    .lie {
        display: inline;
    }

    img {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        text-align: center;
        font-size: 1.2em;
        margin-top: 20px;
        margin-left: 0;
    }

    h3 {
        font-size: 1.0em;
    }

    p.right {
        text-align: left;
        font-size: 0.75em;
        margin: 10px 0;
        margin-left: 40%;
        /* Adjusted for smaller screens */
    }

    p.center2 {
        text-align: center;
        font-size: 0.75em;
        margin: 10px 0;
    }

    a.center2 {
        text-align: left;
        font-size: 0.75em;
        margin: 10px 0;
        margin-left: 20%;
    }

    p {
        font-size: 0.75em;
        margin: 10px 20px;
    }

    a {
        font-size: 0.75em;
        margin: 10px 20px;
    }

    .warning {
        font-size: 0.75em;
    }

    .comment {
        font-size: 0.5em;
    }

    .videoComment {
        font-size: 0.5em;
        margin-top: 0;
        opacity: 0.8;
    }

    .footer-text {
        font-size: 0.25em;
        margin: 0;
    }

    .lie {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

video {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 3% auto;
}
